body {
  font-family: "Google Sans", sans-serif;
  color: #333;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-top: 50px;
  font-size: larger;
}

.main {
  margin-top: 250px;
  margin-bottom: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img img {
  border-radius: 10px;
  box-shadow: 7px 10px rgba(0, 0, 0, 0.8);
}

.box {
  background-color: #f0f0f0;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 7px 10px rgba(0, 0, 0, 0.5);
  width: 550px;
}

.box .text p {
  text-align: left;
  font-size: 25px;
  font-weight: 700;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #777;
}
