body {
  font-family: "Google Sans", sans-serif;
  color: #333;
}

header {
  text-align: center;
  margin-top: 50px;
  font-size: larger;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #f0f0f0;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 7px 10px rgba(0, 0, 0, 1);
  width: 550px;
}

.box .text p {
  text-align: left;
  font-size: 25px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #777;
}
