body {
  font-family: "Google Sans", sans-serif;
  color: #333;
}

header {
  text-align: center;
  margin-top: 50px;
}

.box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #777;
}
